<p><b>Assignment 7</b></p></br>

<p>1. Create a module inside the web app to get the average temperature by city. This includes:</br>
  </br>
  • Modify single weather lambda function to save temp in DynamoDB.</br>
  • Create lambda function to get all temperatures from DynamoDB and calculate the average.</br>
  • Create an API Gateway end point integrated with the average temperature lambda.</br>
  • Modify your web app to get the average temperatures.</br>
  • 50 points.</p> </br>
</br>

<input type="text" ng-model= "ciudades">
<input type="button" ng-click="getClima()" value = "Obtener Clima">
<input type="button" ng-click="login()" value = "Login Valido">
<input type="button" ng-click="login()" value = "Login Invalido">

<p>{{ClimaCiudad}}</p>
<p>{{}}</p>

</br>
<p>2. Add security to the average temperatures end point (Implement Custom Authorizers).  </br>
  • 50 points.</br>
  </br>
</p> </br>
