<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment4</title>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-83589677-2', 'auto');
    ga('send', 'pageview');

  </script>

</head>
<body>

<b>Assignment 4 </b><br>
<br>

<b>1. Implement the merge sort algorithm On-Prem with an integer array of 1,000,000 elements. 20 points. </b><br>
<br>

<a href="https://github.com/karenduper/WeatherApp">Code Here.</a>

<br>

    <b>2. Benchmark the On-Prem implementation. 10 points.</b><br>
<br>

        <b>3. Implement the merge sort algorithm with an integer array of 1,000,000 in a parallel<br>
approach using micro-services architecture in AWS. 60 points.</b><br>
<br>

            <b>4. Benchmark the AWS implementation. 10 points.</b><br>
<br>








</body>
</html>
