<p><b>Assignment 5</b></p>
<p><b>1. Create a web app to be able to get the weather of N cities at the same time. The list of cities are going to be text separated by commas and will connect to an end point that will trigger lambdas for each cities.</b></p>

<input type="text" ng-model= "ciudades">
<input type="button" ng-click="getClima()" value = "Obtener Clima">

<p>{{ClimaCiudad}}</p>
<br>
<br>
<br>
<p><b>2. List the 3 main things you need to do in order achieve your professional goals.</b> </p>
- Figure out which area I'd like to go in the field.<br>
  - Ask for help when needed.<br>
    - Continue preparing myself, whether it be with more studies or autonomously.<br>
